{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@stylistic"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "@stylistic/indent": ["warn", 2]
  }
}
